#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
   min-height: 100vh;
}

.card {
  padding: 2em;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color:black;
  background-color: lightpink;
}

.footer{
  background-color: lightpink;
  color:black;
  min-height: 10vh;
  
}

.filters{
   padding: 20px;
}

.title{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

